email=devopstrainingblr@gmail.com
#always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
registry = http://ec2-13-232-225-184.ap-south-1.compute.amazonaws.com:8081/repository/nodejs-cloud4c/
allowRepublish=true
